<div class="container">
    <div class="row">
        <div class="col-xs-5"><h2>Property Details</h2></div>
        <div class="col-xs-6 favorite" ng-if="!$ctrl.isHouseFavorite"><a ng-click="$ctrl.addToFavorites()" class="btn btn-default pull-right"> + </a></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a ui-sref="{{$ctrl.backLink}}" class="btn btn-default back">Back</a>
        </div>
        <div class="col-xs-12 house-info text-center">
            <p class="text-uppercase"><strong>{{$ctrl.houseDetail.title}}</strong></p>
            <p>Price: {{$ctrl.houseDetail.price}}$</p>
            <div class="col-xs-12"><img ng-src="{{$ctrl.houseDetail.img_url}}" class="img-thumbnail"></div>
            <p>{{$ctrl.houseDetail.bedroom_number}} bed, {{$ctrl.houseDetail.bathroom_number}} bathrooms
            <p>{{$ctrl.houseDetail.summary}}</p>
        </div>
    </div>
</div>