<div class="container">
    <div class="row">
        <div class="col-xs-5"><h2>Property Details</h2></div>
        <div class="col-xs-6 favourite" ng-class="$ctrl.hideAddFavorites()"><a ng-click="$ctrl.add()"> + </a></div>
    </div>
    <a ui-sref="{{$ctrl.backLink}}" class="back">Back</a>
    <!-- <div class="row" ng-repeat="det in $ctrl"> -->
    <div class="row">
        <div class="col-xs-12">{{$ctrl.houseDetail.price}}</div>
        <div class="col-xs-12">{{$ctrl.houseDetail.title}}</div>
        <div class="col-xs-12"><img ng-src="{{$ctrl.houseDetail.img_url}}"></div>
        <div class="col-xs-12">{{$ctrl.houseDetail.bedroom_number}} bed, {{$ctrl.houseDetail.bathroom_number}} bathrooms</div>
        <div class="col-xs-12">{{$ctrl.houseDetail.summary}}</div>
    </div>
</div>