<div class="container search-top">
    <div class="row">
        <div class="col-xs-12 favourite"><a ui-sref="favorites({backLink: $ctrl.backLink})">Favourite</a></div>
    </div>
    <div class="row">
        <p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
    </div>
    <div class="row">
        <input type="text" name="searchText" placeholder="Search..." class="search-text" ng-model="$ctrl.searchQuery">
        <input type="submit" name="go" class="go" value="Go" ng-click="$ctrl.getLocations()">
        <input type="submit" name="myLocation" class="myLocation" value="My location" ng-click="$ctrl.myLocation()">
    </div>
</div>
<div ui-view></div>