a {
	color: #000;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #404040;
}
.favorites {
	margin: 15px 0;
}
.favorite {
	margin-top:20px;
}
.list-locations {
	margin-top: 15px;
	padding: 10px 20px;
	border: 1px solid #ccc;
}
.result-list {
	margin: 20px 0 ;
}
.result-list .result-item {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}
.matches {
	margin-top: 15px;
}
.load-more {
	margin-bottom: 15px;
}
.hide {display: none;}
.hide-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.hide-bg .hide-rec {
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
}
.hide-bg .error-window {
	width: 300px;
	background: #fff;
	margin: 100px auto;
	padding: 10px;
	position: relative;
	border: 1px solid #ccc;
}
.hide-bg .error-window .error-title {
	font-size: 2em;
	color: red;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.hide-bg .error-window .exit {
	position: absolute;
	right: 0;
	top: 0;
	background: #234243;
	color: #ccc;
	padding: 0 7px;
	font-size: 1.5em;
}
.hide-bg .error-window .exit:hover {
	cursor: pointer;
	color: red;
}
.back:before {
    content: "<";
    position: absolute;
    left: 7px;
    color: #ccc;
}
.back:hover {
	cursor: pointer;
}
.house-info {
	margin: 15px 0;
}